@charset "utf-8";

body {font-size:12px; color:#333; font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック'; }
a img { border:none; verticle-align:top; }
a, a:visited { outline:none; color:#333; }
a:hover { color:#15acca; }
p { margin:0 0 2em 0; padding:0; line-height:240%; }
ul { list-style-type:none; margin:0 0 2.5em 0; padding:0; line-height:0%; }
ol { margin:0 0 2.5em 19px; padding:0; line-height:0%; }
ul li, ol li { margin:0; padding:0; line-height:normal; zoom:1; }
dl { list-style-type:none; margin:0 0 2.5em 0; padding:0; line-height:0%; }
dl dt, dl dd { margin:0; padding:0; line-height:normal; zoom:1; }
dl dt { font-weight:bold; }
form,table,input,textarea,dl,dt,dd { margin:0; padding:0; }
table { border-collapse:collapse; width:100%; border:0; }
cite { text-align:right; display:block; }
object { display:block; margin:0 auto; height:auto; }
del { color:#333; }
hr { border:1px solid #ccc; margin:40px 0; }
.wp-caption-text { text-align:center; }
.alignright { float:right; }
.alignleft { float:left; }
.aligncenter { margin-left:auto; margin-right:auto; }
.centered { margin-left:auto; margin-right:auto; }
.clear { clear:both; }
input[type="text"], input[type="password"], textarea, select { outline: none; }


/* --- WordPress preset CSS ----------------------------------------------------------------------------------------- */

/* image */
img { height:auto; max-width:100%; }
img.centered,div.centered { display:block; margin:15px auto; }
img.aligncenter,div.aligncenter { display:block; margin:15px auto; }
img.alignright,div.alignright { margin:10px 0 30px 30px; display:inline; }
img.alignleft,div.alignleft { margin:10px 30px 30px 0; display:inline; }
.wp-caption { background:#fff; border:1px solid #ccc; max-width:96%; padding:14px 3px 1px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
.wp-caption img { display:block; margin:0 auto; max-width:100%; }
.wp-caption .wp-caption-text { padding:10px 0 0; }

/* table */
table { margin:0 0 2em 0; }
td, th { border:1px solid #c1c1c1; padding:15px; }
th { background:#f2f2f2; font-weight:normal; }

/* block quote */
blockquote {
   margin:0 0 2em 0; padding:30px 30px 2px; background:#f2f2f2;
   -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; position:relative;
}
blockquote:before { content: '"'; font-style:italic; font-size:30px; font-weight:bold; line-height:40px; width:30px; height:30px; position:absolute; top:10px; left:10px; color:#999; }
blockquote:after { content: '"'; font-style:italic; font-size:30px; font-weight:bold; text-align:left; line-height:60px; width:30px; height:30px; position:absolute; bottom:10px; right:5px; color:#999; }

/* list */
li, dt, dd { margin:0; line-height:200%; }
ul li {  background:url(img/common/bullet1.gif) no-repeat left 11px; padding:0 0 0 9px; }
ul ul, ol ol  { margin:0 0 0 1em; }



/* ---------- clearfix hack ---------- */
.clearfix:after { content: "."; display:block; clear:both; height:0; font-size:0.1em; line-height:0; visibility:hidden; overflow:hidden; }
.clearfix { display:inline-block; }
/* exlude MacIE5 \*/
* html .clearfix { height:1% }
.clearfix { display:block;}
/* end MacIE5 */



/*************************************************************
【見出し】
*************************************************************/
.news_headline1{margin:80px 0 25px 0; border-left:8px solid #444; border-bottom:1px dotted #999; line-height:30px; font-size:1.2em; padding:0 0 0 14px;}
.news_headline2{margin:40px 0 20px 0; border-left:6px solid #666; line-height:26px; font-size:1.1em; padding:0 0 0 12px;}

/*************************************************************
【ボタン 青・緑】
*************************************************************/
a.button {
   color:#fff; font-size:11px; font-weight:bold; padding:0px 15px 0px; height:34px; line-height:35px; margin:0 4px 4px 0; background:#008ece; display:inline-block; text-decoration:none; 
   -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
   background: -moz-linear-gradient(top, rgba(0,216,255,1) 0%, rgba(0,142,206,1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,216,255,1)), color-stop(100%,rgba(0,142,206,1)));
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d8ff', endColorstr='#008ece',GradientType=0 );
   border:1px solid #009de1; text-shadow: 1px 1px 0px #0085bf;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
a.button:hover { color:#fff; text-decoration:none; background:#0ddaff; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ddaff', endColorstr='#0ddaff',GradientType=0 ); }
a.button:active { box-shadow:none; bottom:-2px; position:relative; }
.post a.button2 {
   color:#fff; font-size:11px; font-weight:bold; padding:0px 15px 0px; height:34px; line-height:35px; margin:0 4px 4px 0; background:#36bf00; display:inline-block; text-decoration:none; 
   -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
   background: -moz-linear-gradient(top, rgba(65,231,0,1) 0%, rgba(54,191,0,1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(65,231,0,1)), color-stop(100%,rgba(54,191,0,1)));
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41e700', endColorstr='#36bf00',GradientType=0 );
   border:1px solid #2da000; text-shadow: 1px 1px 0px #227a00;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
a.button2:hover { color:#fff; text-decoration:none; background:#7bf013; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bf013', endColorstr='#7bf013',GradientType=0 ); }
a.button2:active { box-shadow:none; bottom:-2px; position:relative; }
.morebutton {
    margin: 50px 5px 50px 5px;
    text-align:center;
}
a.button3{
    background: #999;
    border-radius: 3px;
    color: #FFF;
    font-size: 13px;
    line-height: 100%;
    padding: 12px 16px;
    text-decoration: none;
}
a.button3:hover {color:#fff; background:#3F7985; text-decoration:none;}

/**************************************************************
【fontの設定】
**************************************************************/
.text70{font-size:70%}			/* フォントサイズ70% */
.text80{font-size:80%}
.text90{font-size:90%}
.text100{font-size:100%}
.text110{font-size:110%}
.text120{font-size:120%}
.text130{font-size:130%}
.text140{font-size:140%}
.text150{font-size:150%}
.text160{font-size:160%}
.text170{font-size:170%}
.text180{font-size:180%}
.text190{font-size:190%}
.text200{font-size:200%}
.text210{font-size:210%}
.text220{font-size:220%}
.b{font-weight:700}				/* 太字 */
.u{text-decoration:underline}	/* 下線 */

/**************************************************************
【colorの設定】
**************************************************************/
.red{color:red}				/* 赤色 */
.blue{color:#2ca9e1}		/* 青色 */
.green{color:#82ae46}		/* 緑色 */
.orange{color:#ff7d00}		/* 橙色 */
.yellow{color:#fff000}		/* 黄色 */
.pink{color:#ff0084}		/* ピンク */
.gray{color:#999}

/**************************************************************
【background-colorの設定】
**************************************************************/
.bg-yellow{background:#ff0}		/* 黄色の文字背景 */
.bg-blue{background:#4ab0f5}	/* 青色の文字背景 */
.bg-red{background:red}			/* 赤色の文字背景 */

/****************************************************************
【align 配置の設定】
*****************************************************************/
.align1{text-align:center !important}	/* 中央寄せ */
.align2{text-align:right !important}	/* 右寄せ */
.align3{text-align:left !important}		/* 左寄せ */

/****************************************************************
【float 回り込みの設定】
*****************************************************************/
.r-flo{float:right;margin:10px}	/* 右に回り込み */
.l-flo{float:left;margin:10px}	/* 左に回り込み */
.f-clear{clear:both}			/* 回り込みの解除 */

/****************************************************************
【マウスオーバー時の画像リンク 不透明度の設定】※初期設定は60%
*****************************************************************/
a img.linkimg{background:none!important}
a:hover img.linkimg{
	opacity:0.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
	background:none!important;
}

/*************************************************************
【行間の設定】
*************************************************************/
.lh20{line-height:20px;}
.lh21{line-height:21px;}
.lh22{line-height:22px;}
.lh23{line-height:23px;}
.lh24{line-height:24px;}
.lh25{line-height:25px;}

/*************************************************************
【marginの設定】
*************************************************************/
.m0{margin:0 !important}			/* margin 0px を指定するクラス */
.mt0{margin-top:0 !important}		/* margin-top0px を指定するクラス */
.mr0{margin-right:0 !important}		/* margin-right0px を指定するクラス*/
.mb0{margin-bottom:0 !important}	/* margin-bottom0px を指定するクラス*/
.ml0{margin-left:0 !important}		/* margin-left0px を指定するクラス*/

.m5{margin:5px !important}
.mt5{margin-top:5px !important}
.mr5{margin-right:5px !important}
.mb5{margin-bottom:5px !important}
.ml5{margin-left:5px !important}

.m10{margin:10px !important}
.mt10{margin-top:10px !important}
.mr10{margin-right:10px !important}
.mb10{margin-bottom:10px !important}
.ml10{margin-left:10px !important}

.m15{margin:15px !important}
.mt15{margin-top:15px !important}
.mr15{margin-right:15px !important}
.mb15{margin-bottom:15px !important}
.ml15{margin-left:15px !important}

.m20{margin:20px !important}
.mt20{margin-top:20px !important}
.mr20{margin-right:20px !important}
.mb20{margin-bottom:20px !important}
.ml20{margin-left:20px !important}

.m25{margin:25px !important}
.mt25{margin-top:25px !important}
.mr25{margin-right:25px !important}
.mb25{margin-bottom:25px !important}
.ml25{margin-left:25px !important}

.m30{margin:30px !important}
.mt30{margin-top:30px !important}
.mr30{margin-right:30px !important}
.mb30{margin-bottom:30px !important}
.ml30{margin-left:30px !important}

.m35{margin:35px !important}
.mt35{margin-top:35px !important}
.mr35{margin-right:35px !important}
.mb35{margin-bottom:35px !important}
.ml35{margin-left:35px !important}

.m40{margin:40px !important}
.mt40{margin-top:40px !important}
.mr40{margin-right:40px !important}
.mb40{margin-bottom:40px !important}
.ml40{margin-left:40px !important}

.m45{margin:45px !important}
.mt45{margin-top:45px !important}
.mr45{margin-right:45px !important}
.mb45{margin-bottom:45px !important}
.ml45{margin-left:45px !important}

.m50{margin:50px !important}
.mt50{margin-top:50px !important}
.mr50{margin-right:50px !important}
.mb50{margin-bottom:50px !important}
.ml50{margin-left:50px !important}

.m55{margin:55px !important}
.mt55{margin-top:55px !important}
.mr55{margin-right:55px !important}
.mb55{margin-bottom:55px !important}

.ml55{margin-left:55px !important}
.m60{margin:60px !important}
.mt60{margin-top:60px !important}
.mr60{margin-right:60px !important}
.mb60{margin-bottom:60px !important}
.ml60{margin-left:60px !important}

.m65{margin:65px !important}
.mt65{margin-top:65px !important}
.mr65{margin-right:65px !important}
.mb65{margin-bottom:65px !important}
.ml65{margin-left:65px !important}

.m70{margin:70px !important}
.mr70{margin-right:70px !important}
.mb70{margin-bottom:70px !important}
.ml70{margin-left:70px !important}

.m75{margin:75px !important}
.mt75{margin-top:75px !important}
.mr75{margin-right:75px !important}
.mb75{margin-bottom:75px !important}
.ml75{margin-left:75px !important}

.m80{margin:80px !important}
.mt80{margin-top:80px !important}
.mr80{margin-right:80px !important}
.mb80{margin-bottom:80px !important}
.ml80{margin-left:80px !important}

/**************************************************************
【paddingの設定】
**************************************************************/
.p0{padding:0 !important}			/* padding-0px を指定するクラス */
.pt0{padding-top:0 !important}		/* padding-top0px を指定するクラス */
.pr0{padding-right:0 !important}	/* padding-right0px を指定するクラス */
.pb0{padding-bottom:0 !important}	/* padding-bottom0px を指定するクラス */
.pl0{padding-left:0 !important}		/* padding-left0px を指定するクラス */

.p5{padding:5px !important}
.pt5{padding-top:5px !important}
.pr5{padding-right:5px !important}
.pb5{padding-bottom:5px !important}
.pl5{padding-left:5px !important}

.p10{padding:10px !important}
.pt10{padding-top:10px !important}
.pr10{padding-right:10px !important}
.pb10{padding-bottom:10px !important}
.pl10{padding-left:10px !important}


