/* ----------------------------------------------------------------------

 pc style setting

---------------------------------------------------------------------- */


/* ----------------------------------------------------------------------
 common setting
---------------------------------------------------------------------- */

a img{
	-webkit-transition-property:opacity; -webkit-transition-duration:0.4s; -webkit-transition-timing-function:ease; -moz-transition-property:opacity; -moz-transition-duration:0.4s; -moz-transition-timing-function:ease; -o-transition-property:opacity; -o-transition-duration:0.4s; -o-transition-timing-function:ease;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;
}
a:hover img{
	opacity:0.5;
}
a:hover .img img{
	opacity: 1;
}


/* headline */
.headline1{
	font-size: 20px;
	font-weight: normal;
	background: url(images/cmn_arrow_01.png) left center no-repeat;
	padding-left: 15px;
	color: #000;
}
.headline2{
	font-size: 16px;
	font-weight: bold;
	background: url(images/cmn_arrow_01.png) left center no-repeat;
	padding-left: 15px;
	color: #555;
}


/* hr */
#mainColumn hr{
	margin-left: -41px;
	border: none;
	background: url(images/cmn_dot_01.jpg) left bottom repeat-x;
	height: 1px;
	width: 782px;
}
#sideColumn hr{
	margin-left: -42px;
	border: none;
	background: url(images/cmn_dot_01.jpg) left bottom repeat-x;
	height: 1px;
	width: 383px;
}




/* ----------------------------------------------------------------------
 layout
---------------------------------------------------------------------- */

body {
	margin:0;
	padding:0;
	font-family:"Meiryo", "Century Gothic", Arial, sans-serif;
	color:#333;
	background-color: #f0f0f0;
	background-image: url(images/cmn_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

#header {
	width: 1165px;
	height: 185px;
	margin: 0 auto;
	position: relative;
}

#contents {
	width: 1165px;
	margin: 0 auto 100px;
	background: #fff;
}
#mainColumn {
	width: 700px;
	padding-left: 41px;
	padding-right: 41px;
	padding-bottom: 41px;
	float: left;
	background-image: url(images/cmn_dot_02.jpg);
	background-repeat: repeat-y;
	background-position: right top;
	position: relative;
}
#sideColumn {
	width: 301px;
	padding-left: 42px;
	padding-right: 41px;
	padding-bottom: 41px;
	float: right;
	background-image: url(images/cmn_dot_02.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	margin-left: -1px;
}

#footer {
	clear: both;
	width: 100%;
	min-width: 1165px;
	/*height: 330px;*/
	position: relative;
	background: #fff;
}

/* copyright */
#copyright{
	width: 100%;
	height: 50px;
	background: #f0f0f0;
	color: #888;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	line-height: 50px;
}

#copyright a {
	text-decoration:none;
	color:#333;
}
#copyright a:hover {
	text-decoration:underline;
}


/* mobile banner */
#mobile_banner_top, #mobile_banner_bottom {
	display:none;
}




/* ----------------------------------------------------------------------
 header
---------------------------------------------------------------------- */


/* logo */
#logo-area {
	height: 129px;
	width: 100%;
	margin: 0;
	overflow: hidden;
	padding: 56px 0 0;
}
#logo_image {
	width: 1165px;
	margin: 0 auto;
}
#logo_image #logo {
	margin: 0;
	padding: 0;
	position: relative;
}


#logo_text {
	text-align: center;
	padding-top: 35px;
}

#logo_text #logo {
	margin: 0 0 6px;
	padding: 0;
	line-height: 100%;
	font-size: 24px;
	font-weight: normal;
}
#description { font-size:12px; color:#666; margin:0; padding:0; line-height:100%; font-weight:normal; }



/* global menu */
.menu_button {
	display:none;
}
#global_menu {
	height:56px;
	width:100%;
	margin:0 auto;
	z-index:9999;
	text-align: center;
	position: absolute;
	top: 0;
}
#global_menu ul {
	height:56px;
	width: 1165px;
	margin:0 auto;
	position:relative;
}
#global_menu ul li {
	margin: 0 20px;
	height: 56px;
	display: inline-block;
	font-weight: normal;
	position: relative;
}
#global_menu li.last {
}
#global_menu li a {
	font-size:14px;
	text-align:center;
	text-decoration:none;
	display:block;
	height:56px;
	line-height:56px;
	background-image: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
#global_menu li a:hover {
}
#global_menu ul ul {
	display:none;
	position:absolute;
	top:56px;
	left:0px;
	margin:0;
	padding:0;
	width: auto;
	list-style-type:none;
	height: auto;
	z-index:99999;
}
#global_menu ul ul ul {
	left:100%;
	top:0;
	margin:0;
}
#global_menu ul ul li {
	float:none;
	height:auto;
	line-height:0;
	padding:0;
	margin:0;
	text-align:left;
	background:none;
	display: block;
	width: 200px;
}
#global_menu ul ul li a {
	display: block;
	font-size:12px;
	position:relative;
	/*height:35px;
	padding: 0 15px;
	line-height:35px;*/
	height: auto;
	padding: 10px 15px 8px;
	line-height: 180%;
	margin:0;
	text-align:left;
	background-image: none;
	background:#000;
	color:#fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
#global_menu ul ul a:hover {
	background:#444;
}


/* header_sociallink */
#header_sociallink {
	width: 87px;
	height: 18px;
	display: block;
	position: absolute;
	top: 0;
	right:0;
	z-index: 99999;
}
.social_link {
	margin:0;
}
.social_link li {
	float:right;
	margin:19px 0 0 11px;
}
.social_link li a {
	display:block;
	width:18px;
	height:18px;
	text-decoration:none;
	text-indent:-9999px;
}
.social_link li.rss a {
	background:url(images/rss.png) no-repeat left top;
}
.social_link li.twitter a {
	background:url(images/tw.png) no-repeat left top;
}
.social_link li.facebook a {
	background:url(images/fb.png) no-repeat left top;
}
.social_link li a {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
.social_link li a:hover {
	opacity: 0.5;
	/*background-position:left bottom;*/
}



/* ----------------------------------------------------------------------
 index
---------------------------------------------------------------------- */

#maincopy{
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	color: #000;
	height: 58px;
	line-height: 58px;
}
#maincopy span{
	background-position: left center;
	background-repeat: no-repeat;
}

/* news */
#top-news-headline{
	width: 700px;
	height: 45px;
	margin: 0;
	padding: 0;
}
#top-news-headline h2{
	float: left;
	margin: 0;
}
.top-news-btn{
	float: right;
	height: 45px;
	line-height: 45px;
	/*padding: 0 10px 0 25px;*/
	padding: 0 25px;
	background-color: #aaa;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
.top-news-btn:hover{
	background-color: #ccc;
}
.top-news-btn a{
	display: block;
	color: #fff;
	text-decoration: none;
	/*background: url(images/cmn_arrow_02.png) right center no-repeat;
	padding-right: 15px;*/
}
.top-news-btn a:hover{
	color: #fff;
}

#top-news{
	margin: 0;
	padding: 0;
}
#top-news li{
	margin-bottom: 4px;
	font-size: 12px;
	width: 660px;
	height: 44px;
	line-height: 44px;
}
#top-news li a{
	width: 660px;
	height: 44px;
	line-height: 44px;
	display: block;
	padding: 0 20px;
	color: #333;
	text-decoration: none;
	background: #f6f6f6;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
#top-news li a:hover{
	background: #E5E5E5;
}
#top-news li span.date{
	font-weight: bold;
	color: #000;
	width: 100px;
	display: inline-block;
}



/*-- ranking --*/

/* common */
#ranking{
	width: 700px;
}
#ranking ol{
	width: 715px;
	margin: 0;
}
#ranking ol li{
	background: #F6F6F6;
	display: block;
}
#ranking ol li:last-child{
	margin-right: 0;
}

.rank-title{
	font-weight: bold;
	color: #333;
	margin: 0;
}
.rank-num{
	color: #fff;
	font-family:"Times New Roman", Times, serif;
	margin-left: 37px;
}
.rank-title-text{
}


/* best3 */
.rank-best3{
	width: 700px;
	margin-bottom: 20px;
	padding-bottom: 25px;
	float: none;
}
.rank-best3 .rank-title{
	font-size: 20px;
	width: 700px;
	height: 75px;
	line-height: 80px;
	margin-bottom: 10px;
}
.rank-best3 .rank-title .rank-num{
	display: block;
	margin-right: 20px;
	width: 62px;
	text-align: center;
	float: left;
}
.rank-best3 .rank-title .rank-title-text{
	display: block;
	float: left;
	margin-top: 5px;
}

.rank-best3-img{
	float: left;
	width: 320px;
	margin-left: 26px;
}
.rank-best3-txt{
	float: right;
	width: 307px;
	margin-right: 26px;
}

.rank-best3-copy{
	font-size: 16px;
	font-weight: bold;
	color: #666;
	line-height: 180%;
	margin-bottom: 36px;
}
.rank-best3-copy a{
	color: #666;
	text-decoration: none;
}
.rank-best3-table{
	width: 307px;
	font-size: 12px;
}
.rank-best3-table th{
	font-weight: normal;
	background: #fff;
	border-bottom: solid 2px #f6f6f6;
	border-right: solid 2px #f6f6f6;
	padding: 5px;
	width: 20%;
	text-align: center;
}
.rank-best3-table td{
	background: #fff;
	border-bottom: solid 2px #f6f6f6;
	padding: 5px 10px;
}
.rank-best3-table td img{
	margin-right: 3px;
	vertical-align: sub;
}

.rank-best3-desc{
	line-height: 200%;
	padding: 0 26px;
	font-size: 14px;
}
.rank-best3-link a{
	width: 205px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	display: block;
	float: right;
	margin: 0 26px 0 0;
	text-align: center;
	text-decoration: none;
	/*background: url(images/cmn_arrow_02.png) 184px center no-repeat;*/
	background-color: #aaa;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
.rank-best3-link a:hover{
	background-color: #E5E5E5;
	color: #fff;
}


/* others */
.rank-others{
	width: 223px;
	float: left;
	height: 420px;
	margin-right: 15px;
	margin-bottom: 15px;
	overflow: hidden;
}
.rank-others .rank-title{
	font-size: 18px;
	font-weight: bold;
	color: #333;
	text-align: center;
	padding: 0 20px 15px;
	height: 140px;
	overflow: hidden;
}
.rank-others .rank-title .rank-num{
	display: block;
	color: #fff;
	height: 75px;
	line-height: 75px;
	width: 62px;
	text-align: center;
	margin-left: 17px;
	margin-bottom: 10px;
}
.rank-others .rank-title .rank-title-text{
	height: 65px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 223px;
}

.rank-others-txt{
	padding: 7px 20px;
	margin: 0;
	font-size: 14px;
	overflow: hidden;
	height: 84px;
}
/*.rank-others-txt p{
	height: 84px;
	position: relative;
	overflow: hidden;
}
.rank-others-txt p:before, .rank-others-txt p:after{
	position: absolute;
}
.rank-others-txt p:before{
	content: "...";
	top: 56px;
	right: 0;
}
.rank-others-txt p:after{
	content: "";
	height: 100%;
	width: 100%;
}*/
.rank-others-txt a{
	text-decoration: none;
	color: #666;
}
.rank-others-txt a:hover{
	text-decoration: none;
}


/* style type A */
.type-a .rank-title{
	background: url(images/top_rank_a.jpg) left top no-repeat;
}

/* style type B */
.type-b .rank1 .rank-title{
	background: url(images/top_rank_b_01.jpg) left top no-repeat;
}
.type-b .rank2 .rank-title{
	background: url(images/top_rank_b_02.jpg) left top no-repeat;
}
.type-b .rank3 .rank-title{
	background: url(images/top_rank_b_03.jpg) left top no-repeat;
}
.type-b .rank1 .rank-title .rank-num, .type-b .rank2 .rank-title .rank-num, .type-b .rank3 .rank-title .rank-num{
	color: #333;
}
.type-b .rank-title{
	background: url(images/top_rank_a.jpg) left top no-repeat;
}


#ranking-index-link{
	margin-top: 25px;
}
#ranking-index-link a{
	width: 270px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	display: block;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	/*background: url(images/cmn_arrow_02.png) 250px center no-repeat;*/
	background-color: #aaa;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
#ranking-index-link a:hover{
	background-color: #ccc;
}

.info p .tw{
	background-image: url(styles/tw.png);
	background-repeat: no-repeat;
	background-position: left 2px;
	display: inline-block;
	height: 19px;
	margin-right: 10px;
	padding-left: 20px; 
}
.info p .fb{
	background-image: url(styles/fb.png);
	background-repeat: no-repeat;
	background-position: left 2px;
	display: inline-block;
	height: 19px;
	margin-left: 10px;
	padding-left: 20px; 
}


/*-- recent posts --*/
#recent-posts{}
#recent-posts li{
	display: block;
	width: 700px;
	margin-bottom: 40px;
}
.recent-posts-img{
	float: left;
	width: 223px;
	height: 165px;
	overflow: hidden;
	margin-right: 30px;
}
.recent-posts-data{
	float: left;
	width: 447px;
}
.recent-posts-data a{
	color: #333;
	text-decoration: none;
}
.recent-posts-data .meta{
	font-size: 12px;
	font-weight: bold;
	color: #333;
	margin: 0 0 10px;
}
#recent-posts .recent-posts-data .meta li{
	display: inline;
	width: auto;
	float: left;
	border-right: solid 1px #333;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
	line-height: 100%;
}
#recent-posts .recent-posts-data .meta li:last-child{
	border: none;
}
.recent-posts-data .title{
	margin: 0 0 6px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	line-height: 180%;
}
.recent-posts-data .excerpt{
	margin: 0;
	font-size: 14px;
	line-height: 200%;
}

#more-recent-posts a{
	width: 270px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	display: block;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	/*background: url(images/cmn_arrow_02.png) 250px center no-repeat;*/
	background-color: #aaa;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
#more-recent-posts a:hover{
	background-color: #ccc;
}


/* ----------------------------------------------------------------------
 archive
---------------------------------------------------------------------- */

.archive-headline{
	margin: 0 0 40px -41px;
	padding: 0 0 20px 41px;
	font-size: 20px;
	color: #000;
	width: 741px;
	background: url(images/cmn_dot_01.jpg) left bottom repeat-x;
}



/* ----------------------------------------------------------------------
 single post page
---------------------------------------------------------------------- */

.post{
	margin-top: 40px;
}

.single-itemname{
	margin: 20px 0 0 -41px;
	padding: 0 0 20px 41px;
	font-size: 20px;
	color: #555;
	width: 741px;
	background: url(images/cmn_dot_01.jpg) left bottom repeat-x;
	text-align: center;
}

.eyecatch{
	width: 782px;
	height: auto;
	margin: 0 0 0 -41px;
	position: relative;
	left: 0;
	top: 0;
}
.eyecatch img{
	width: 782px;
	height: auto;
}

.post .meta{
	font-size: 12px;
	font-weight: bold;
	color: #333;
	margin: 0 0 10px;
}
.post .meta li{
	display: inline;
	width: auto;
	float: left;
	border-right: solid 1px #333;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
	line-height: 100%;
}
.post .meta li:last-child{
	border: none;
}

.post-title{
	font-size: 20px;
	font-weight: bold;
	line-height: 180%;
	margin-bottom: 40px;
}


/* spec-table */
#single-ranking-style-a, #single-ranking-style-b{
	background: url(images/single_rank_a.png) no-repeat left top;
	display: block;
	width: 64px;
	height: 45px;
	position: relative;
	top: -40px;
	margin-bottom: -20px;
	padding: 30px 0 0 10px;
	text-align: center;
	color: #fff;
	font-family: "Times New Roman",Times,serif;
	font-weight: bold;
	font-size: 20px;
}

#single-ranking-style-b.single-ranking-1{
	background: url(images/single_rank_b_01.png) no-repeat left top;
	display: block;
	width: 64px;
	height: 45px;
	position: relative;
	top: -40px;
	margin-bottom: -20px;
	padding: 30px 0 0 10px;
	text-align: center;
	color: #333;
	font-family: "Times New Roman",Times,serif;
	font-weight: bold;
	font-size: 20px;
}
#single-ranking-style-b.single-ranking-2{
	background: url(images/single_rank_b_02.png) no-repeat left top;
	display: block;
	width: 64px;
	height: 45px;
	position: relative;
	top: -40px;
	margin-bottom: -20px;
	padding: 30px 0 0 10px;
	text-align: center;
	color: #333;
	font-family: "Times New Roman",Times,serif;
	font-weight: bold;
	font-size: 20px;
}
#single-ranking-style-b.single-ranking-3{
	background: url(images/single_rank_b_03.png) no-repeat left top;
	display: block;
	width: 64px;
	height: 45px;
	position: relative;
	top: -40px;
	margin-bottom: -20px;
	padding: 30px 0 0 10px;
	text-align: center;
	color: #333;
	font-family: "Times New Roman",Times,serif;
	font-weight: bold;
	font-size: 20px;
}


#specs{
	width: 697px;
	padding: 30px 40px;
	background: #f6f6f6;
	margin: -38px 0 45px -39px;
}
#specs .post-title{
	margin: 0;
}
#spec-table{
	float: right;
	margin: 0 0 0 50px;
	width: 307px;
	font-size: 12px;
}
#spec-table th{
	font-weight: normal;
	background: #fff;
	border-bottom: solid 2px #f6f6f6;
	border-right: solid 2px #f6f6f6;
	border-top: none;
	border-left: none;
	padding: 5px;
	width: 20%;
}
#spec-table td{
	background: #fff;
	border-bottom: solid 2px #f6f6f6;
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 5px 10px;
}
#spec-table td img{
	margin-right: 3px;
	vertical-align: sub;
}



/* bookmark */
.post .bookmark {
	display: block;
	list-style-type: none;
	margin: 3px 0 10px;
}
.post .bookmark li {
	float: left;
	margin: 0 5px 0 0;
}
.post .bookmark li.twitter{
	width: 90px;
}


/*.post .bookmark li.social2 {
	margin: 0 -30px 0 0;
}
.post .bookmark2 {
	clear:both;
	float:right;
	margin:5px 0 0 0;
	padding:0;
	list-style-type:none;
}
.post .bookmark2 li {
	background:none;
	padding:0;
	float:left;
	margin:0 0 0 10px;
}*/

.bookmark{
	text-align: center;
}
.social1{
	width: 105px;
	display: inline-block;
}
.social2{
	/*width: 85px;*/
	margin-right: 5px;
	display: inline-block;
}
.social3{
	display: inline-block;
}


/* related post*/
#related-posts{
	background: #F6F6F6;
	width: 650px;
	padding: 35px 10px 15px 40px;
}
.related-posts-ul{
	width: 650px;
	margin: 0;
}
.related-posts-ul li{
	float: left;
	width: 300px;
	padding-right: 25px;
	margin-bottom: 20px;
}
.related-posts-ul li p{
	margin: 0;
}
.related-posts-ul li p a{
	text-decoration: none;
}
.related-posts-ul li .related-posts-thumb{
	width: 76px;
	height: 76px;
	border: solid 7px #333;
	float: left;
	margin-right: 12px;
	background: #000;
}
.related-posts-ul li .date{
	font-size: 12px;
	font-weight: bold;
}
.related-posts-ul li .title{
	font-size: 14px;
	line-height: 160%;
}



/* recommended post*/


/* next prev post link */
#previous_next_post {
	width: 434px;
	margin:40px auto;
	padding:0;
}
#previous_next_post a {
	text-decoration:none;
}
#previous_post {
}
#previous_post a {
	margin:0;
	width:210px;
	height: 45px;
	line-height: 45px;
	display: table-cell;
	vertical-align: middle;
	/*background-image: url(images/cmn_arrow_03.png);
	background-repeat: no-repeat;
	background-position: 13px center;*/
	background-color: #aaa;
	color: #fff;
	text-align: center;
	font-size: 16px;
	float:left;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
#next_post {
}
#next_post a {
	margin:0;
	width:210px;
	height: 45px;
	line-height: 45px;
	display: table-cell;
	vertical-align: middle;
	/*background-image: url(images/cmn_arrow_02.png);
	background-repeat: no-repeat;
	background-position: 190px center;*/
	background-color: #aaa;
	color: #fff;
	text-align: center;
	font-size: 16px;
	float:right;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
#previous_next_post a:hover {
	text-decoration: none;
	background-color: #ccc;
}


/* single page banner */
#single-page-banner{
	text-align: center;
}
.single-banner{
	display: inline-block;
	margin: 0 15px;
}



/* ----------------------------------------------------------------------
page
---------------------------------------------------------------------- */

/* no side */
#mainColumn-noside{
	width: 1083px;
	padding-left: 41px;
	padding-right: 41px;
	padding-bottom: 41px;
	position: relative;
}
#mainColumn-noside .post{
	margin-top: 0;
}
#mainColumn-noside .eyecatch{
	width: 1165px;
	margin: -25px 0 0 -41px;
}
#mainColumn-noside .eyecatch img{
	width: 100%;
	height: auto;
}






/* ----------------------------------------------------------------------
 search
---------------------------------------------------------------------- */

.search #header, .search-result #header{
	border-bottom: solid 1px #ddd;
	margin-bottom: 45px;
}



/* ----------------------------------------------------------------------
 footer
---------------------------------------------------------------------- */

/* footer */
#footer a {
	text-decoration:none;
	color: #333;
}
#footer a:hover {
	color:#999;
}
#footer-inner {
	width:1165px;
	padding: 30px 0;
	margin:0 auto;
	position:relative;
	font-size:12px;
}

#footer-left{
	width: 480px;
	margin-right: 5px;
	float: left;
}
#footer-right{
	width: 680px;
	float: left;
}


/* footer logo */
#footer_logo_area{
	margin-bottom: 40px;
}

#footer_logo_text a{
	color: #666;
}


/* footer menu */
#footer-menu{}
#footer-menu ul{}
#footer-menu ul li{
	width: 150px;
	padding-right: 10px;
	margin-bottom: 0.5em;
	float: left;
}




/* footer widget */
.footer_widget {
	width:300px;
	float:left;
	padding: 0;
	margin-left: 40px;
}
.footer_headline {
	font-size:12px;
	font-weight: bold;
	color: #333;
	border-bottom: dotted 1px #fff;
	padding-bottom: 5px;
	margin: 0 0 15px;
}
.footer_widget ul {
	margin:0;
}
.footer_widget li ul {
	margin:10px 0 0 15px;
}
.footer_widget li {
	line-height:170%;
	margin:0 0 20px 0;
}
.footer_widget li:last-child {
	margin:0;
}
.footer_widget a {
	text-decoration: none;
	color: #666;
}
.footer_widget a:hover {
	text-decoration: underline;
}
.footer_widget img {
	height:auto;
	max-width:100%;
	width:auto;
}


/* styled post list */
.footer_widget.styled_post_list1_widget .styled_post_list1_thumb{
	width: 76px;
	height: 76px;
	border: none;
	float: left;
	margin-right: 12px;
}
.footer_widget.styled_post_list1_widget .styled_post_list1 .date{
	font-weight: bold;
}
.footer_widget.styled_post_list1_widget .styled_post_list1 .title{
	font-size: 12px;
	line-height: 160%;
}
.footer_widget.styled_post_list1_widget .styled_post_list1 .excerpt{
	font-size: 12px;
	color: #333;
	line-height: 160%;
}

.footer_widget.styled_post_list3_widget .styled_post_list3_thumb{
	width: 76px;
	height: 76px;
	border: none;
	float: left;
	margin-right: 12px;
}
.footer_widget.styled_post_list3_widget .styled_post_list3 .dateandcate{
	font-weight: bold;
}
.footer_widget.styled_post_list3_widget .styled_post_list3 .title{
	font-size: 12px;
	line-height: 160%;
}
.footer_widget.styled_post_list3_widget .styled_post_list3 .excerpt{
	font-size: 12px;
	color: #333;
	line-height: 180%;
}

/* custom menu */
.footer_widget.widget_nav_menu .menu li{
	margin: 0;
}
.footer_widget.widget_nav_menu .menu li a{
	background: none;
	padding: 5px 0;
	margin: 0;
	color: #333;
}
.footer_widget.widget_nav_menu .menu li a:hover{
	background: none;
}


/* return */
#return_top {
	z-index:10;
	position: absolute;
	right:0;
	bottom:105px;
	margin:0;
	display:block;
	width:37px;
	height:120px;
	text-indent:-9999px;
	background-color: #222;
	background-image: url(images/totop.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#return_top:hover {
	background-position: left bottom;
}


/* ----------------------------------------------------------------------
 side
---------------------------------------------------------------------- */

#side-banner {
	width: 300px;
	height: auto;
}



/* search */
.widget_search label { display:none; }
.widget_search #search-box, .widget_search #s { width:246px; height:32px; margin:0 0 10px 0; border:1px solid #ccc; background:#eee; padding:0 10px; box-shadow:2px 2px 3px 0px #ddd inset; }
.widget_search #search-btn input, .widget_search #searchsubmit { border:none; text-indent:-9999px; width:33px; height:34px; background:#aaa url(images/search.png) no-repeat center; cursor:pointer; display:block; float:right; -webkit-border-radius:0px; -moz-border-radius:0px; border-radius:0px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
 }
.widget_search #search-btn input:hover, .widget_search #searchsubmit:hover { background-color:#00a2d9; }

